table
{
    border-collapse: collapse;
    width: 100%;
}
table td,
table th
{
    border: solid 1px #e4e5e7;
    padding: 5px 20px;
}

.filtre
{
    background-color: #fcfcfc;
    border: solid 1px #e4e5e7;
    border-bottom: none;
    padding: 20px;
}
.filtre > .chercher1
{
    padding: 7px 15px;
    display: block;
    width: 100%;
}
.filtre > .chercher2
{
    padding: 7px 15px;
    display: block;
    width: 200px;
}