<h1>contact</h1>
<div class="filtre">
    <input type="text" ng-model="query" class="chercher1"><br>
    <select ng-model="order" class="chercher2">
         <option value="nom">nom</option>
         <option value="pre">prénom</option>
    </select>
</div>
<table ng-controller="liste">
    <thead>
        <tr>
            <th>ID</th>
            <th>nom</th>
            <th>prénom</th>
            <th>Email</th>
            <th>Tele</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in listes | filter : query | orderBy : order">
            <td>{{person.id}}</td>
            <td>{{person.nom}}</td>
            <td>{{person.prenom}}</td>
            <td>{{person.email}}</td>
            <td>{{person.phone}}</td>
        </tr>
    </tbody>
</table>